<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Taalweb</title>
	<link rel="stylesheet" href="./static/pico.classless.css">
</head>
<body>
	{% include 'header.html' %}
	<main>
	<h1>Een woordenboek voor recreatieve taal</h1>
	Ja het <a href="https://gtb.ivdnt.org/search/?owner=wnt">WNL</a>, <a href="https://etymologiebank.nl/"> de etymolgiebank</a>, <a href="https://anw.ivdnt.org/">het ANW</a> zijn allemaal geweldig als je serieus onderzoek aan het doen bent, maar vaak wil ik gewoon een lijstje palindromen hebben. Daarvoor deze site, een woordboek voor de recreatieve taalfanaat.
	</main>
</body>
</html>